<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    />
    <link rel="stylesheet" href="../res/site/css/index.css" />
    <link rel="stylesheet" href="../res/site/css/form.css" />
    <link rel="stylesheet" href="../res/site/css/login.css" />
    <link rel="shortcut icon" href="../res/site/img/logo.png" />

    <title>Casa dos Parafusos | Tudo para o seu caminhão</title>
  </head>

  <body>
    <div class="header">
      <div class="header-top">
        <div class="header-items-left">
          <a href="#" class="header-item">
            <div class="header-item-info">(55) 3414-2890</div>
            <div class="header-item-ico"><i class="fas fa-phone"></i></div>
          </a>
          <a href="#" class="header-item">
            <div class="header-item-info">(55) 9.9994-6629</div>
            <div class="header-item-ico"><i class="fas fa-phone"></i></div>
          </a>
          <a
            target="_blank"
            href="https://api.whatsapp.com/send?1=pt_BR&phone=5555999946629"
            class="header-item"
          >
            <div class="header-item-info">WhatsApp</div>
            <div class="header-item-ico"><i class="fab fa-whatsapp"></i></div>
          </a>
        </div>
        <div class="header-items-right">
          <a
            href="https://rastreamento.correios.com.br/app/index.php"
            target="_blank"
            class="header-item"
          >
            <div class="header-item-info">Rastreie seu pedido</div>
            <div class="header-item-ico"><i class="fas fa-truck-fast"></i></div>
          </a>
          <a href="#" class="header-item">
            <div class="header-item-info"></div>
            <div class="header-item-ico"><i class="fab fa-facebook-f"></i></div>
          </a>
          <a href="#" class="header-item">
            <div class="header-item-info"></div>
            <div class="header-item-ico"><i class="fab fa-instagram"></i></div>
          </a>
          <a href="#" class="header-item">
            <div class="header-item-info"></div>
            <div class="header-item-ico"><i class="fab fa-youtube"></i></div>
          </a>
        </div>
      </div>
      <div class="header-middle">
        <div class="header-middle-items">
          <div class="header-middle-items-left">
            <img
              class="header-middle-item-img"
              src="res/_img/logo.png"
              alt=""
            />
          </div>

          <div class="header-middle-items-center">
            <div class="input-group">
              <input
                class="input-text"
                type="text"
                id="search"
                aria-label="Buscar"
                placeholder="Pesquise aqui..."
              />
              <i class="fas fa-magnifying-glass"></i>
            </div>
          </div>

          <div class="header-middle-items-right">
            <a href="#" class="header-middle-item-button">
              <span>Minha Conta</span>
              <i class="fas fa-user"></i>
            </a>
            <a href="#" class="header-middle-item-button">
              <span>Carrinho</span>
              <i class="fas fa-cart-shopping"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="header-bottom">
        <div class="header-bottom-items">
          <a href="#" class="header-bottom-item"
            ><span>Geladeira</span><i class="fas fa-box-open"></i
          ></a>
          <a href="#" class="header-bottom-item"
            ><span>Rodas</span><i class="fas fa-box-open"></i
          ></a>
          <a href="#" class="header-bottom-item"
            ><span>Acessórios</span><i class="fas fa-box-open"></i
          ></a>
          <a href="#" class="header-bottom-item"
            ><span>Tanques</span><i class="fas fa-box-open"></i
          ></a>
          <a href="#" class="header-bottom-item"
            ><span>Reposição</span><i class="fas fa-box-open"></i
          ></a>
          <a href="#" class="header-bottom-item"
            ><span>Iluminação e elétrica</span><i class="fas fa-box-open"></i
          ></a>
          <a href="#" class="header-bottom-item"
            ><span>Pneus</span><i class="fas fa-box-open"></i
          ></a>
          <a href="#" class="header-bottom-item"
            ><span>Peças</span><i class="fas fa-box-open"></i
          ></a>
        </div>
      </div>
    </div>
    <div class="body">
      <div class="section first">
        <div class="login">
          <div class="login-actions">
            <div class="login-left">
              <div class="login-left-title">
                <h3>Bem Vindo</h3>
              </div>
              <div class="login-left-button" style="margin-top: 60px;">
                <a href="#" class="apple login-button"><i class="fas fa-user-plus"></i> Cadastre-se</a>
              </div>
            </div>
            <div class="login-middle">
              <div class="line"></div>
              ou
              <div class="line"></div>
            </div>

            <form action="/login" class="login-right" method="post">
              <div class="login-right-title">
                <h3>Digite o seu e-mail<br> e senha</h3>
              </div>
              <div class="login-right-input-group">
                <input class="login-input" id="email" name="email" type="email" />
                <label for="email">E-mail</label>
              </div>
              <div class="login-right-input-group">
                <input class="login-input" type="password" id="password"/>
                <label for="password">Senha</label>
                <i id="password-toggle" class="password-toggle fas fa-eye-slash" onclick="showPassword()"></i>
              </div>
              <div class="login-right-forgot">
                <a href="/forgot">Esqueci minha senha</a>
              </div>
              <div class="login-buttons">
                <button class="login">Login</button>
              </div>
            </form>
          </div>
          <!-- <div class="login-footer">
            <div class="login-footer-content">Não tem conta ? <a href="/register">Crie a sua</a></div>
          </div> -->
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="footer-top">
        <div class="footer-links">
          <div class="grid flex-wrap">
            <div class="links-col-left">
              <div class="grid flex-row">
                <h4>Institucional</h4>
                <a href="">Quem somos</a>
                <a href="">Trabalhe conosco</a>
                <a href="">Nossas empresas</a>
              </div>
            </div>
            <div class="links-col-middle">
              <div class="grid flex-row">
                <h4>Ajuda e suporte</h4>
                <a href="">Atendimento</a>
                <a href="">Duvidas gerais</a>
                <a href="">SAC</a>
                <a href="">Suporte</a>
                <a href="">Nota fiscal eletrônica</a>
              </div>
            </div>
            <div class="links-col-right">
              <div class="grid flex-row">
                <h4>Nossa loja:</h4>
                <a href=""><i class="fas fa-phone"></i> (55) 3414-2890 </a>
                <a
                  target="_blank"
                  href="mailto:cptrucks@gmail.com?Subject=Envio para%20CPTRUCKS"
                  ><i class="fas fa-envelope"></i>cptrucks@gmail.com</a
                >
                <a
                  target="_blank"
                  href="https://api.whatsapp.com/send?1=pt_BR&phone=5555999946629"
                  ><i class="fab fa-whatsapp"></i>(55) 9.9994-6629</a
                >
                <a href="">Segunda à sexta 8h às 18h</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-middle"></div>
      <div class="footer-bottom"></div>
    </div>
  </body>
  <script src="../res//site/js/index.js"></script>
</html>
